.homepage-wrapper .list-view .card {
    transition: transform 0.5s ease;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: cursive;
    display: flex;
    flex-direction: column;
}

.homepage-wrapper .list-view .card:hover {
    transform: translateY(-8px);
}

.homepage-wrapper .list-view h5 {
    font-family: cursive;
}

.homepage-wrapper .dropdown-toggle  {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.homepage-wrapper .dropdown-item:hover {
    background-color: rgb(218, 218, 218);
}

.homepage-wrapper .btn {
    font-family: cursive;
    transform: translateY(-4px);
}

.homepage-wrapper .priority-tag {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: cursive;
    color: white;
}

.homepage-wrapper .priority-high {
    background-color: red;
}

.homepage-wrapper .priority-medium {
    background-color: orange;
}

.homepage-wrapper .priority-low {
    background-color: green;  
}
  